		::-webkit-scrollbar{
			width:0px;
		}

		html{
			height:100%;
			padding: 0px;
		}

		body{
			padding: 0px;
			margin:0px;
			height:100%;
			width: 100%;
		}

		#menu {
			height: 100%;
			position: fixed;
			background-color: #FED057;
			width: 300px;
			transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
			transform: translateX(-100%);
			left: 60px;
		}

		#menu.expanded {
			transform: translateX(0%);
			left: 0px;
		}

		.menu-inner {
			width: 100%;
			height: 100%;
			position: relative;
		}

		#blob {
			top: 0;
			z-index: -1;
			right: 60px;
			transform: translateX(100%);
			height: 100%;
			position: absolute;
		}

		#blob-path {
			height: 100%;
			fill:  #FED057;
		}

		.hamburger {
			right: 20px;
			position: absolute;
			width: 20px;
			height: 20px;
			margin-top: -10px;	
		}

		.hamburger .line {
			width: 100%;
			height: 4px;
			background-color: #fff;
			position: absolute;
		}

		.hamburger .line:nth-child(2) {
			top: 50%;
			margin-top: -2px;
		}

		.hamburger .line:nth-child(3) {
			bottom: 0;
		}

		.ul {
			padding: 0;
			list-style: none;
			width: 80%;
			margin-left: 10%;
			position: absolute;
			top: 10px;
		}

		.ul li {
			color: #fff;
			font-family: sans-serif;
			padding: 20px 0;
		}
		
		.a2:hover{
			color:#F9F;
		}
		
		.a2{
			color: aliceblue;
			text-decoration:none;
}

	hamburger {
			right: 20px;
			position: absolute;
			width: 20px;
			height: 20px;
			margin-top: -10px;	
		}

		.hamburger .line {
			width: 100%;
			height: 4px;
			background-color: #fff;
			position: absolute;
		}

		.hamburger .line:nth-child(2) {
			top: 50%;
			margin-top: -2px;
		}

		.hamburger .line:nth-child(3) {
			bottom: 0;
		}


ul {
list-style-type: none;
}
a{z-index: 1001;}
/*li {
float: left; 左浮动
}*/
.dropbtn {
display: inline-block; /*设置成块*/
text-align: justify;
text-decoration: none;
}
.dropdown:hover .dropbtn { /*鼠标移上去，改变背景颜色*/
color:#F6F;
}
.dropdown {
/*display:inline-block将对象呈递为内联对象，但是对象的内容作为块对象呈递。旁边的内联对象会被呈递在同一行内，允许空格。*/
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
min-width:100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
display: block;
text-decoration:none;
}
.dropdown-content a:hover {
background-color:#F0EF17;
}
.dropdown:hover .dropdown-content{
display: block;
}